@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-500: #1e8667;
  --light: #fff;
}
.highlight-text {
  background-color: var(--primary-color-500);
  color: var(--light);
}

@layer utilities {
  .home-section-wrapper {
    @apply mt-4 rounded-xl bg-background px-2 py-4 md:mt-16 lg:px-6 lg:py-8 md:shadow-md
  }
}
