.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  /* fill: #fff; */
  fill: #514e4e;
  cursor: pointer;

  /* background-image: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)); */

  background-image: linear-gradient(rgb(250, 250, 250), rgb(255, 255, 255));

  box-shadow: 0 8px 12px 0 rgba(36, 39, 44, 0.15);

  padding: 10px;
  border-radius: 50%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow--left {
  left: -20px;
}

.arrow--right {
  left: auto;
  right: -20px;
}

.arrow--disabled {
  visibility: hidden;

  /* fill: rgba(255, 255, 255, 0.5); */
}
